apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-ldboxgew
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-ldboxgew:9b621589e30edcc0fc231eab0cb493de9c102bef@sha256:24e3f0d658980ceaa8f08a27d172a6d81ca4f3cd79acdfad5b06049345625241
          name: container-image
